<div class="container">
  <div class="row">
    <h2 class="text-center marged">
      View and edit <%= link_to "all giphies", gifmemore_path %>
    </h2>
    <div class="row">
      <% @giphies.each do |giphy| %>
      <div class="col-xs-6 col-lg-3">
        <div class="giphy-image-container-small" style="background-image:url('<%= giphy.url %>');"></div>
        <div class="giphy-image-description">
          <ul class="list-unstyled">
            <li>
              <div class="actions">
                <% unless giphy.default %>
                <%= simple_form_for giphy, url: gifmemore_update_path do |f| %>
                <%= f.input :id, as: :hidden %>
                <%= f.submit value: "set as default", class: 'btn btn-primary' %>
                <% end %>
                <% end %>

                <%= simple_form_for giphy, url: gifmemore_destroy_path, method: :delete do |f| %>
                <%= f.input :id, as: :hidden %>
                <%= f.submit value: "remove", class: 'btn btn-danger' %>
                <% end %>
              </div>
            </li>
            <li>
              by <span><%= giphy.creator.downcase %></span>
            </li>
            <li>
              default: <%= giphy.default ? raw("<i class='fa fa-check'></i>") : raw("<i class='fa fa-times'></i>") %>
            </li>
            <li>
              message:
              <div class="message-box">
                <%= giphy.message %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>